# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code coverage by nyc
coverage
.nyc_output

# Grunt folders
.grunt

# bower dependencies
bower_components

# node-gyp folder
.node-gyp

# Dependency directories
jspm_packages/

# TypeScript v1.x command line compiler build stylesheet
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rts2_cache_main
.rts2_cache_lit
.rts2_cache_umd

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache
.cache
.parcel-cache

# Next.js build images and data
.next
out

# Nuxt.js build images and data
.nuxt
dist

# gatsby files
.cache/
public

# vuepress build output
.vuepress/dist

# Serverless Webpack templates/files
.serverless/

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

